services:
  {{ ansible_host_namespace1 }}:
    platform: linux/amd64
    image: aida0/gitfolio_{{ ansible_host_namespace1 }}:test
    container_name: gitfolio_{{ ansible_host_namespace1 }}
    ports:
      - target: {{ ansible_host_port }}
        published: 80
        protocol: tcp
      - target: {{ ansible_host_port }}
        published: 443
        protocol: tcp
    networks:
      - {{ ansible_network_namespace }}
      
networks:
  {{ ansible_network_namespace }}:
    driver: overlay
    attachable: true