services:
  {{ ansible_host_namespace1 }}:
    platform: linux/amd64
    image: aida0/gitfolio_{{ ansible_host_namespace1 }}:test
    container_name: gitfolio_{{ ansible_host_namespace1 }}
    ports:
      - target: {{ ansible_host_port1 }}
        published: 80
        protocol: tcp
      - target: {{ ansible_host_port1 }}
        published: 443
        protocol: tcp
    networks:
      - {{ ansible_network_namespace1 }}

  {{ ansible_host_namespace2 }}:
    platform: linux/amd64
    image: aida0/gitfolio_{{ ansible_host_namespace2 }}:latest
    container_name: gitfolio_{{ ansible_host_namespace2 }}
    ports:
      - target: {{ ansible_host_port2 }}
        published: {{ ansible_host_port2 }}
        protocol: tcp
    networks:
      - {{ ansible_network_namespace2 }}
      
networks:
  {{ ansible_network_namespace1 }}:
    driver: overlay
    attachable: true
  {{ ansible_network_namespace2 }}:
    driver: overlay
    attachable: true